@font-face {
    font-family: 'm5x7';
    src: url('m5x7.eot?#iefix') format('embedded-opentype'),  url('m5x7.woff') format('woff'), url('m5x7.ttf')  format('truetype'), url('m5x7.svg#m5x7') format('svg');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}