.page {
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    transition: transform 500ms ease-in-out;
}

.page-enter {
    right: -100%;
    transform: translate(-100%, 0);
}
.page-enter-done {
    transition: none;
}
.page-exit {
    transform: translate(-100%, 0);
}